@media screen and (max-width : 415px) {

    header {
        height : 78vh;
    }
    header.toggleActive {
        background-color: white;
        background-image: none;
    }
    nav {
        padding: 1.1rem 0.9rem;
    }
    nav.toggleActive {
        background-color: white;
        color: black;
        border: 1px 0px 1px 0px solid rgba(0, 0, 0, 0.405);
    }
    .logo-lan-group h1::first-letter {
        font-size: 14px;
    }
    .logo-lan-group h1 {
        font-size: 11px;
    }
    .logo-lan-group img {
        width: 25px;
        height: 15px;
    }
    .logo-lan-group img+p {
        display: none;
    }
    .menubar-container {
        display: none;
    }
    .toggle-menu {
        display: flex;
        align-items: center;
    }
    .toggle-menu i {
        margin: 0 0.6rem;
        font-size: 18px;
    }
    .toggle-menu-item {
        /* position: absolute; */
        background-color: white;
        width: calc(99% + 3px);
        color: black;
    }
    .toggle-menu-list {
        transition: 0.2s;
        border-bottom: 1px solid rgba(0, 0, 0, 0.405);
        padding: 1rem;
    }
    .toggle-menu-list-item {
        display: flex;
        justify-content: space-between;
    }
    .toggle-menu-list-item i {
        color: rgb(59, 59, 241);
        transition: 0.3s;
    }
    .toggle-menu-list-item > p {
        font-size: 17px;
        font-weight: 600;
    }
    .toggle-menu-list-detail {
        padding: 0.5rem 0.5rem;
        margin: 0.6rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.205);
        transition: 0.2s;
        font-weight: 600;
    }
    .toggle-menu-login {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 1.3rem 0;
    }
    .toggle-menu-login > div {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #673de6;
        color: #673de6;
        width: 90%;
        border-radius: 20px;
        padding: 0.7rem 0;
    }
    .toggle-menu-login > div i,
    .toggle-menu-login > div p {
        margin: 0 0.2rem;
        font-weight: 600;
        font-size: 17px;
    }

    /* campaign section */
    .campaign {
        width: 99%;
    }
    .campaign-wrapper {
        width: 90%;
    }
    .campaign-wrapper > h2 {
        font-size: 28px;
        font-weight: 600;
    }
    .pricing > h1 {
        font-size: 50px;
    }
    .pricing + p {
        border: 1px solid white;
        padding: 0;
        font-weight: 400;
        font-size: 14px;
    }
    .pricing > p:nth-child(1) {
        padding-top: 0.5rem;
        font-size: 25px;
    }


    
}