code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');
*{
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  overflow-x: hidden;
}

header {
  background-image: url("assets/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 78vh;
  color: white;
  padding-top: 4.6rem;
}
nav {
  width: 97%;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2.2rem;
  position: fixed;
  top : 0;
  z-index: 2;
  transition: 0.2s;
}
nav.active {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: black;
}
.logo-lan-group {
  display: flex;
  width: 18%;
  justify-content: space-between;
}
.logo-lan-group h1::first-letter {
  font-size: 26px;
  color: #FFE9AE;
  font-weight: bold;
}
nav.active .logo-lan-group h1::first-letter {
  color: #002B5B;
}
nav.active .logo-lan-group h1 {
  color: #FF7F3F;
}
.logo-lan-group h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 18px;
  color: #EEE3CB;
}
.logo-lan-group > div {
  display: flex;
  align-items: center;  
  position: relative;
}
.logo-lan-group img {
  width: 26px;
  height: 17px;
  box-shadow: white 0px 0px 0px 1px;
  margin: 0 0.4rem;
  cursor: pointer;
}
nav.active .logo-lan-group img {
  box-shadow: rgba(0, 0, 0, 0.785) 0px 0px 0px 1px;
}
.logo-lan-group img+p {
  font-size: 16px;
}
.lan-option {
  position: absolute;
  background-color: white;
  bottom: -70px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.lan-option::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  top: -5px;
  left: 45%;
  rotate: 135deg;
}
.options {
  display: flex;
  color: black;
  margin: 0.3rem 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.options:nth-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 3px;
}
.menubar-container {
  display: flex;
  width: 53%;
  justify-content: space-between;
}
/*menu bar starts*/

/* toggle menu in responsive */
.toggle-menu-container {
  position: fixed;
  top : 54px;
  width: 100%;
  height: 95vh;
  z-index: 3;
  background-color: white;
  overflow-y: hidden;
}
.toggle-menu {
  display: none;
}
.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 70%;
}
.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.7rem;
  cursor: pointer;
  transition: 0.1s;
  position: relative;
  font-size: 15px;
}
.menu-item:hover {
  color: rgba(255, 255, 255, 0.655);
}
nav.active .menu-item:hover {
  color: rgba(0, 0, 0, 0.878);
}
.menu-item > i {
  margin: 0 0.5rem;
  transition: 0.2s;
}
.fa-angle-down.rotate {
  rotate: 180deg;
}
.item-detail {
  position: absolute;
  left: -170px;
  bottom: -280px;
  width: 370px;
  background-color: white;
  border-radius: 3px;
  padding: 18px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.item-detail::after {
  content: "";
  position: absolute;
  top : -10px;
  left: 48%;
  width: 20px;
  height: 20px;
  background-color: white;
  rotate: 45deg;
}
.item-list {
  color: black;
  display: flex;
  margin: 8px 0;
  align-items: center;
  transition: 0.3s;
}
.item-list:hover {
  scale: 1.04;
}
.item-list > img {
  margin: 8px;
}
.item-list h5 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 3px;
}
.item-list p {
  font-size: 13px;
}
/*menu bar ends*/

/* Log in starts*/
.login-cart-group {
  width: 32%;
  display: flex;
  justify-content: space-between;
}
.login-cart-group a {
  text-decoration: none;
  width: 5rem;
  color: #fff;
  width: 51%;
}
.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
  padding: 0 0.2rem;
}
.login p {
  margin: 0 0.2rem;
}
nav.active .login-cart-group a {
  color: black;
}
nav.active .login {
  border: 1px solid black;
}
.login:hover {
  background-color: rgba(0, 0, 0, 0.47);
}
.cart {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* campaign section */
.campaign {
  width: calc(99% + 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.campaign-wrapper {
  width: 38%;
  margin: 1.8rem 0;
}
.campaign-wrapper > h2 {
  font-size: 33px;
  text-align: center;
}
.pricing {
  display: flex;
  justify-content: center;
  font-weight: 600;
  margin: 0.5rem 0;
}
.pricing > p:nth-child(1) {
  padding-top: 0.8rem;
  font-size: 28px;
}
.pricing > p:nth-child(3){
  display: flex;
  align-items: flex-end;
  font-size: 21px;
  padding-bottom: 0.8rem;
}
.pricing > h1 {
  font-size: 64px;
  margin: 0 0.1rem;
}
.pricing + p {
  text-align: center;
  padding: 0.1rem 6rem;
  margin: 1rem 0;
  font-weight: 600;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.8rem 0;
}
.btn {
  border: none;
  outline: none;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  display: block;
  margin: 0.8rem auto;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.btn + p {
  text-align: center;
  margin: 0.8rem 0;
}

/* timer */

.timer > div {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #D2DAFF;
  color: #400D51;
  margin: 0.4rem;
  border-radius: 6px;
  display: grid;
  place-items: center;
  position: relative;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.timer > div span {
  position: absolute;
  bottom: -19px;
  color: #FFF6BF;
  font-size: 13px;
}


