code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');
*{
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 83vh;
  color: white;
  position: relative;
}
nav {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2.2rem;
  background-color: rgba(0, 0, 0, 0.45);
}
.logo-lan-group {
  /* border: 1px solid yellow; */
  display: flex;
  width: 18%;
  justify-content: space-between;
}
.logo-lan-group h1::first-letter {
  font-size: 26px;
}
.logo-lan-group h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 18px;
  /* border: 1px solid red; */
}
.logo-lan-group > div {
  display: flex;
  align-items: center;
}
.logo-lan-group img {
  width: 26px;
  height: 17px;
  box-shadow: white 0px 0px 0px 1px;
  margin: 0 0.4rem;
}
.logo-lan-group img+p {
  font-size: 17px;
}
.menubar-container {
  /* border: 1px solid green; */
  display: flex;
  width: 44%;
  justify-content: space-between;
}
/*menu bar starts*/
/* toggle menu in responsive  */
.toggle-menu {
  display: none;
}
.menubar {
  /* border: 1px solid skyblue; */
  display: flex;
  align-items: center;
}
.menu-item {
  margin: 0 0.7rem;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}
.menu-item:hover {
  color: rgba(255, 255, 255, 0.655);
}
.menu-item > i {
  margin: 0 0.5rem;
  transition: 0.3s;
}
.fa-angle-down.rotate {
  rotate: 180deg;
}
.item-detail {
  position: absolute;
  left: -170px;
  bottom: -280px;
  width: 370px;
  background-color: white;
  border-radius: 3px;
  padding: 18px;
}
.item-detail::after {
  content: "";
  position: absolute;
  top : -10px;
  left: 48%;
  width: 20px;
  height: 20px;
  background-color: white;
  rotate: 45deg;
}
.item-list {
  color: black;
  /* border: 1px solid red; */
  display: flex;
  margin: 8px 0;
  align-items: center;
  transition: 0.3s;
}
.item-list:hover {
  scale: 1.04;
}
.item-list > img {
  margin: 8px;
}
.item-list h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}
.item-list p {
  font-size: 14px;
}
/*menu bar ends*/

/* Log in starts*/
.login-cart-group {
  width: 32%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
}
.login {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0 0.3rem;
  cursor: pointer;
  transition: 0.2s;
}
.login:hover {
  background-color: rgba(0, 0, 0, 0.47);
}
.cart {
  width: 40%;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

